@font-face { font-family: 'Atkinson'; src: url('/fonts/atkinson-regular.woff') format('woff'); font-weight: 400; font-style: normal; font-display: swap; }
@font-face { font-family: 'Atkinson'; src: url('/fonts/atkinson-bold.woff') format('woff'); font-weight: 700; font-style: normal; font-display: swap; }

body {
    margin: 5em 10em;
    padding: 0;
    
    background-color: #eceff3;
    color: #333;
    
    font-family: 'Atkinson', sans-serif;
    font-size: 30px;
}

h1 {
    color: #0070f3;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #eceff3;
    width: 100%;
}

.parent {
    display: grid;
    width: 100%;
    height: 90vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 1em;
}
.border { border: 1px solid; }
.border-radius-5 { border-radius: 10px; }
.white { background-color: white; }
.shadow { box-shadow: 0px 0px 15px rgba(70, 70, 70, 0.5); }
.div1 { grid-area: 1 / 1 / 2 / 3; max-height: 2.5em; }
.div2 { grid-area: 2 / 1 / 6 / 3; }
.div3 { grid-area: 4 / 3 / 6 / 5; }
.div4 { grid-area: 2 / 3 / 4 / 5; }

.menu {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    position: relative; 
    display: flex; 
    gap: 10px;
}

a.menu-anchor {
    margin: 0.5em;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease;
    color: #9a9a9a;
    position: relative;
    z-index: 1;
    text-align: left;
    width: 1ch;
}

li.menu-item:hover {
    color: black;
}

a.menu-anchor {
    text-decoration: none;
}

a.menu-anchor:focus {
    color: black;
}

.highlight {
    position: absolute;
    margin: 0.5em 0.25em;
    width: 1em;
    height: 1em;
    background-color: #e0e0e0;
    border-radius: 100%;
    transition: transform 0.3s ease; /* Animation fluide */
    pointer-events: none;
}

.menu a.menu-anchor:focus:nth-child(2) ~ span.highlight {
    transform: translateX(2em);
}
.menu a.menu-anchor:focus:nth-child(3) ~ span.highlight {
    transform: translateX(4em);
}
.menu a.menu-anchor:focus:nth-child(4) ~ span.highlight {
    transform: translateX(6em);
}
