---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<div class="parent">
				<div class="shadow white border-radius-5 div1">
					<div class="menu">
						<a href="#" class="menu-anchor">1</a>
						<a href="#" class="menu-anchor">2</a>
						<a href="#" class="menu-anchor">3</a>
						<a href="#" class="menu-anchor">4</a>
						<span class="highlight"></span>
					</div>
				</div>
				<div class="shadow white border-radius-5 div2"> 2</div>
				<div class="shadow white border-radius-5 div3"> 3</div>
				<div class="shadow white border-radius-5 div4"> 4</div>
				</div> 
		</main>
	</body>
</html>
